.Results {
  
  font: bold 1rem sans-serif;
  margin: 2rem;
  padding: 1rem;
  outline-offset: 0.5rem;
  text-align: left;
  margin-top: 150px;  /* was 10px before sticky header implementation */
  background-color: lightgrey;
  font-family: rubik;
  border: 0.5rem outset khaki;
  min-height: 500px;
  /* border:2px solid red; */
  display:flex;
  justify-content: space-around;
 
}

#LS{
  
}

.Filter{
  
  height:fit-content;
  width:150px;
  
}
.resImg{
  
  max-width:65%;
  text-align: right;
  align-items: flex-start;
  display:flex;
  flex-wrap: wrap;
}
.imageR{
  object-fit: scale-down; max-width: 100%

}

@media (max-width: 576px) {
  .imageR{
      visibility: hidden;
  }
  .resImg{
    visibility: hidden;
    width:5px;
  }
}
