h3 {
    font-size: 23px;
    /* color: blue; */
}

.Home {
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    margin-top: 10px;
    background-color: lightgrey;
    font-family: rubik;
    border: 0.5rem outset khaki;
    min-height: 500px;
    display:flex;
    justify-content: space-around;
}
.homeImg{
    max-width:70%;
    text-align: right;
    display:flex;
    flex-wrap: wrap;
   
}

.img1{
    object-fit: scale-down; max-width: 100%
}
  
.boxes{
    text-align: left;
    
}
.apptitle2 {
    text-align: left;
    margin-top: 50px;
    background-color: lightgrey;
    color: black;
    width:fit-content
}

@media (max-width: 576px) {
    .img1{
        visibility: hidden;
    }
}
