.Result {
  
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    text-align: left;
    margin-top: 150px;  /* was 10px */
    background-color: lightgrey;
    font-family: rubik;
    border: 0.5rem outset khaki;
    min-height: 500px;
    
    display:flex;
    justify-content: space-around;
    
  }
  .info{
      border:2px 
  }

  .map{
      
  }